{% extends "calculations/base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-teal-400 p-4">
        <div class="w-full max-w-md bg-white shadow-lg rounded-lg overflow-hidden p-6 text-center">
            <h1 class="text-3xl font-bold mb-5 text-blue-700">Feedback</h1>
            <p class="text-xl font-semibold text-gray-700 mb-4">This feature will be coming soon.</p>
            <p class="text-gray-600">We are working hard to bring you this feature. Stay tuned for updates!</p>
        </div>
    </div>
{% endblock %}
