{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Critical Thickness of Insulation Calculation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mt-5 mb-5 text-center text-blue-700">
        Critical Thickness of Insulation Calculation
      </h1>
      <div class="max-w-2xl w-full mx-auto bg-white shadow-lg rounded-lg p-10">
                <p>
                    Consider a composite hollow cylinder, it has 3 layers. Let r1, r2, r3 and r4 be the radius such that r1< r2< r3< r4. let k1,k2 and k3 be the thermal conductivity for layers 1, 2 and 3. T1 is the surface temperature of the innermost layer that is exposed to a fluid of temperature T0 and heat transfer coefficient h0. T2, and T3 are the interfacial temperatures between layer 2 and 3 and 3 and 4 respectively. T4 is the surface temperature of the outermost layer. consider that the outermost layer to be exposed to air having surface temperature of Tinfi and hinfi be the heat transfer coefficient. Obtain the heat transfer rate and the temperature distribution/profile through the composite cylinder.
                </p>
        <br><br>
        <form method="post">
          {% csrf_token %}
          <div class="space-y-4">
            {{ form.as_p }}
          </div>
          <button
            type="submit"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
          >
            Calculate
          </button>
        </form>
      
    </div>
  </body>
</html>
