{% extends "calculations/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-teal-400 p-4">
    <div class="w-full max-w-lg bg-white shadow-lg rounded-lg px-8 py-12">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">Login</h2>
        <p class="text-center text-red-500 mb-4">Note: This registration process is currently only for teachers and professors. Students are not recommended to register or log in at this time.</p>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-6">
                <div class="flex flex-col space-y-2">
                    <label for="{{ form.username.id_for_label }}" class="text-sm font-medium text-gray-700">Username</label>
                    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value }}" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="flex flex-col space-y-2">
                    <label for="{{ form.password.id_for_label }}" class="text-sm font-medium text-gray-700">Password</label>
                    <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" value="{{ form.password.value }}" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
            </div>
            <div class="mt-8">
                <button class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg transition duration-300" type="submit">
                    Login
                </button>
            </div>
            <div class="mt-4 text-center">
                <a href="{% url 'register' %}" class="text-sm text-blue-500 hover:text-blue-700">If New To Site Register</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
