<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Calculation Results</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mt-5 mb-5 text-center text-blue-700">
        Calculation Results
      </h1>
      <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6 mb-10">
        <p class="mb-2">
          <strong>Heat Transfer Rate:</strong> {{ Q }} W
        </p>
        <p class="mb-2">
          <strong>Interfacial Temperature between Layer 1 and 2 (T2):</strong> {{ T2 }} °C
        </p>
        <p class="mb-2">
          <strong>Interfacial Temperature between Layer 2 and 3 (T3):</strong> {{ T3 }} °C
        </p>
        <p class="mb-2">
          <strong>Surface Temperature of the outermost layer (T4):</strong> {{ T4 }} °C
        </p>
        <img src="data:image/png;base64,{{ graphic }}" alt="Temperature Distribution" class="mt-4 rounded-lg shadow">
      </div>
    </div>
  </body>
</html>
